<div class="row">
    <div class="col-xs-12">
        <div class="headcountlinechartgridmarginleft">
            <div class="table-responsive headcountlinechartgridoverflow">

                <table class="table" id="headcountlinechartgrid">

                    <thead>
                        <tr>
                            <td>FY</td>
                            <td class="headingxaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Beginning Headcount</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Starts</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Terms</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Transfers In</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Transfers Out</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Miscellaneous Adjustments</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Ending Headcount</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Beginning LOA</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                        <tr>
                            <td>Ending LOA</td>
                            <td class="datayaxis" ng-repeat="griddata in rangevalues"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
