@charset "utf-8";
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius: 2px;
}
::-webkit-scrollbar {
  /*width: 8px;
    height: 10px*/
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius: 2px;
}
::-webkit-scrollbar {
  /*width: 8px;
    height: 10px*/
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}
@media only screen and (max-device-width: 1024px) {
  ::-webkit-scrollbar {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 3px #dfdfdf inset;
    border-radius: 2px;
  }
}
/* CSS Document */
body {
  margin: 0 auto;
  margin: 0px;
  padding: 0px;
}
/*less type of css*/
/*variables*/
/*less type of css*/
/*conatainer starts*/
#wrapper {
  min-height: 550px;
  width: 95%;
  max-width: 1200px;
  min-width: 980px;
  margin: 0 auto;
}
/*section container starts*/
#container {
  min-height: 1060px;
  clear: both;
  background-color: #f0f1f3;
}
/*article contentleft starts*/
#contentleft {
  width: 96.5%;
  min-height: 980px;
  float: left;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}
.HC_subheader {
  padding-top: 5px;
  color: #fff !important;
}
/*threedivcontainer starts*/
.threedivcontainer {
  width: 486px;
  min-height: 150px;
  clear: both;
  float: left;
}
/*icon-text starts*/
.icon-text {
  min-height: 160px;
  float: left;
  border-right: 1px solid #f0f1f3;
  border-bottom: 1px solid #f0f1f3;
  width: 100%;
}
/*icon-text starts*/
.dashboard-icon {
  width: 100%;
  min-height: 30px;
  float: left;
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  margin-left: 73px;
}
/*dashboard-icon ends*/
/*dashboard-text starts*/
.dashboard-text {
  width: 100%;
  min-height: 50px;
  float: left;
  text-align: center;
  font-family: OpenSansSemiBold;
  font-size: 13px;
  font-weight: normal;
  padding: 0 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .dashboard-text {
    font-weight: 500;
  }
}
@-moz-document url-prefix() {
  /* Firefox specific CSS styles go here */
  .dashboard-text {
    font-weight: 500;
  }
}
.empSearch:-ms-input-placeholder {
  color: #999 !important;
}
/*dashboard-text ends*/
/*divimgtxt ends*/
/*dashboard-onlytext starts*/
.dashboard-onlytext {
  width: 100%;
  min-height: 160px;
  float: left;
  text-align: center;
  font-family: "OpenSansLight";
  font-size: 13px;
  color: #333;
  background-color: #FCFCFC;
  border-right: 1px solid #f0f1f3;
  border-bottom: 1px solid #f0f1f3;
}
/*dashboard-onlytext ends*/
/*divonlytxt ends*/
/*threedivcontainer ends*/
/*article contentleft ends*/
/*article contentright starts*/
#contentright {
  width: 96.5%;
  min-height: 980px;
  float: right;
  background-color: #ffffff;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.qVTilesCornerBgImg {
  position: relative;
  left: 410px;
  top: -20px;
  /*border: 5px solid #eee;
    border-radius: 97px;*/
  height: 100px;
  width: 100px;
  text-align: center;
}
.qVTilesCornerBgImg i {
  font-size: 100px;
  color: #f7f7f7;
}
/*contentrightdiv starts*/
#contentrightdiv {
  width: 100%;
  min-height: 500px;
  float: right;
  /*background-position : calc(100% - -10px) -30px;
    width:200px; height:400px;*/
}
#contentrightdiv::after {
  background: url(../../core/images/icon-Employee_DetailedView-photo-placeholder@2x.png) no-repeat;
  width: 200px;
  height: 400px;
  border: 1px solid red;
  float: left;
}
/*empviewdiv starts*/
#empviewdiv {
  min-height: 50px;
  margin-top: -100px;
}
#empviewdiv span.bluebar {
  border-left: 4px solid #00a1de;
  display: inline-block;
  min-height: 33px;
  float: left;
  padding: 0;
  margin-top: 36px;
}
#empviewdiv span.bluebar + .empviewheading {
  padding: 18px 18px 18px 16px;
}
.empviewheading {
  width: 99%;
  min-height: 50px;
  float: left;
  padding: 18px;
  margin-top: 20px;
}
.empviewheading h1 {
  margin: -3px 0px;
  font-size: 30px !important;
  color: #363D52;
}
.empviewheading:before {
  width: 4px;
  height: 30px;
  float: left;
  background: #33A6D1;
}
#crightsearch {
  width: 400px;
  min-height: 40px;
  margin-left: 30px;
  clear: both;
}
/*crsearch starts*/
#crsearch {
  width: 420px;
  min-height: 30px;
  float: left;
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}
#crsearch input {
  font-size: 14px;
  color: #666;
}
/*crsearch ends*/
/*crbutton starts*/
.crbutton {
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border: none;
  background: url('../../../images/search-icon.png') no-repeat;
  background-size: 20px 20px;
}
.searchComponent .crbutton {
  position: absolute;
  left: 10px;
}
#crsearch .fa-remove {
  margin-top: 10px;
}
/*crbutton ends*/
/*crtext starts*/
.crtext {
  margin: 0;
  width: 275px;
  padding: 3px 15px;
  font-family: "OpenSansLight";
  font-size: 12px;
  color: #CFCFCF;
  border: none;
  outline: none;
}
/*crtext ends*/
/* Fixes submit button height problem in Firefox */
.crbutton::-moz-focus-inner {
  border: 0;
}
/*crightsearch ends*/
/*contentdown starts*/
#contentdown {
  width: 100%;
  min-height: 200px;
  clear: both;
}
/*contentdownpara starts*/
#contentdownpara {
  width: 85%;
  min-height: 30px;
  float: left;
  margin-left: 35px;
  line-height: 25px;
}
#contentdownpara p {
  font-family: "OpenSansReg";
  font-size: 12px;
  color: #8c8c8c;
  font-weight: normal;
  line-height: 19px;
  margin: 15px 0;
}
/*contentdownpara ends*/
/*contentlist starts*/
#contentlist {
  width: 100%;
  min-height: 200px;
  clear: both;
  line-height: 20px;
}
/*firstlist starts*/
#firstlist {
  font-family: "OpenSansReg";
  font-size: 12px;
  color: #8c8c8c;
  float: left;
  margin-left: 10px;
}
/*firstlist ends*/
/*secondlist starts*/
#secondlist {
  font-family: "OpenSansReg";
  font-size: 12px;
  color: #8c8c8c;
  float: left;
  list-style: disc;
  margin-left: 23px;
}
/*secondlist ends*/
/*contentlist ends*/
/*empsearchdiv starts*/
.empsearchdiv {
  width: 360px;
  min-height: 100px;
  clear: both;
  margin-left: 30px;
  border-bottom: 1px solid #dcdcdc;
}
/*empsearchtop starts*/
.empsearchtop {
  width: 440px;
  min-height: 30px;
  clear: both;
}
.empsearchtop p {
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  color: #222222;
}
.empsearchtop .empsearchname {
  width: 250px;
  min-height: 30px;
  float: left;
}
/*empsearchname ends*/
/*empsearchphno starts*/
.empsearchphno {
  width: 150px;
  min-height: 30px;
  float: right;
}
/*empsearchphno ends*/
/*empsearchtop ends*/
/*empsearchdown starts*/
.empsearchdown {
  width: 440px;
  min-height: 30px;
  clear: both;
}
.empsearchdown p {
  font-size: 14px;
  color: #8c8c8c;
  font-family: "OpenSansReg";
  margin: 0;
}
/*empsearchaddr starts*/
.empsearchaddr {
  width: 250px;
  min-height: 30px;
  float: left;
}
/*empsearchaddr ends*/
/*empsearchccno starts*/
.empsearchccno {
  width: 150px;
  min-height: 30px;
  float: right;
}
/*empsearchccno ends*/
/*empsearchdown ends*/
/*empsearchdiv ends*/
/*contentdown ends*/
/*contentrightdiv ends*/
/*article contentright ends*/
/*section container ends*/
/*tabconsolidate starts*/
.tabconsolidate {
  margin-top: 30px;
}
#contentleft ul,
#contentleft ul li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#contentleft ul li {
  width: 33.3%;
  cursor: pointer;
  float: left;
}
#contentleft ul li:nth-child(3n) div.icon-text {
  border-right: none;
}
.employeesListDown {
  padding: 35px;
  padding-top: 0;
  display: none;
}
.employeesListDown li div {
  padding: 0;
  font-size: 13px;
  color: #666;
}
.employeesListDown ul,
.employeesListDown ul li {
  list-style: none;
  padding: 0px;
  line-height: 20px;
}
.employeesListDown ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  cursor: pointer;
}
#contentleft ul li {
  -webkit-transition: width 2s;
  /* Safari */
  -webkit-transition-timing-function: linear;
  /* Safari */
  transition: width 2s;
  transition-timing-function: linear;
}
/*tileview_rightside starts*/
.tileview_rightside {
  min-height: 30px;
  float: left;
  /*margin-left: 19px;
    margin-right: 30px;*/
  line-height: 19px;
  padding-left: 5px!important;
  margin-left: 13px;
}
.tileview_rightside p {
  font-family: "OpenSansReg";
  font-size: 12px;
  color: #7e7e7e;
  font-weight: normal;
  margin-bottom: 20px;
}
.tileview_rightside a {
  color: #059adb;
  font-weight: normal;
}
.tileview_rightside i {
  font-size: 10px;
  margin-left: 5px;
}
.partial-period-data-label {
  margin: 0px 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
}
.headcountrighttab {
  margin-left: 0!important;
}
/*tileview_rightside ends*/
.switch-btn-summary .left-btn {
  width: 40px!important;
}
.switch-btn-summary .right-btn {
  width: 40px!important;
}
.switch-btn-act {
  background-color: #FFF;
}
.switch-btn-inact {
  background-color: #E5E5E5;
}
.bg-cl-fff {
  background-color: #FFF;
}
.bg-cl-E5E5E5 {
  background-color: #E5E5E5;
}
@media (min-width: 320px) and (max-width: 767px) {
  .dashboard-icon {
    margin-left: 62px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard-icon {
    margin-left: 62px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .dashboard-icon {
    margin-left: 66px;
  }
}
/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .dashboard-icon {
    margin-left: 60px;
  }
}
.padL5 {
  padding-left: 5px;
}
/*# sourceMappingURL=dashboard.css.map */