<div id="subheader">
    <div id="subheaderleft">
        <div id="detailbackbtn">
            <a href="/#!/" class="backbtn"><i class="fa fa-angle-left"></i> Back</a>
        </div>

        <div id="subheaderpara">
            <p>Employee Summary View</p>
        </div>
    </div>

    <div class="pull-right HC_subheader">
        <div class="headcountlinechartgridmarginleft">
            <div class="padL5">
                <div class="pull-left">
                    <hcm-landing-export></hcm-landing-export>
                </div>
            </div>
        </div>
    </div>
</div>
